[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pydantic = "*"
pyyaml = "*"
networkx = "*"
langgraph = "*"
ruff = "*"
black = "*"
flask = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
